<%- include('header') %>
<form method='get' action='/calculadora'>
    <input name='vp' placeholder="Valor presente" /><br />
    <input name='tx' placeholder="Taxa" /><br />
    <input name='pz' placeholder="prazo" /><br />
    <button>Calcular</button>
</form>
<%- include('footer') %>